
#b1{
    background-color:blue;
    height: 500px;
}


#mainContent{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    align-content: center;
}
#resultcard{
    width: 100%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 5px;
}
test2{
    width: 100%;
}
#test{
    width:200px;
    height:200px;
}