
#b1{
    background-color:blue;
}


#mainContent{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    align-content: center;
}
.resultcard{
    width: 100%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 5px;
}
test2{
    width: 100%;
}
.test {
    width:200px;
    height:200px;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.NA1{
    background-repeat: no-repeat;
    background-size: 100%;
}

.NA2{
    background-size: 100%;
    background-repeat: no-repeat;
}

.NA3{
    background-size: 100%;
    background-repeat: no-repeat;
}

.NA4{
    background-size: 100%;
    background-repeat: no-repeat;
}

.AS1{
    background-repeat: no-repeat;
    background-size:100%;

}
.AS2{
    background-size: 100%;
    background-repeat: no-repeat;
}

.AS3{
    background-size: 100%;
    background-repeat: no-repeat;
}

.AS4{
    background-size: 100%;
    background-repeat: no-repeat;
}

.SA1{
    background-repeat: no-repeat;
    background-size: 100%;

}
.SA2{
    background-size: 100%;
    background-repeat: no-repeat;
}

.SA3{
    background-size: 100%;
    background-repeat: no-repeat;
}

.SA4{
    background-size: 100%;
    background-repeat: no-repeat;
}


.EU1{
    background-repeat: no-repeat;
    background-size: 100%;

}
.EU2{
    background-size: 100%;
    background-repeat: no-repeat;
}

.EU3{
    background-size: 100%;
    background-repeat: no-repeat;
}

.EU4{
    background-size: 100%;
    background-repeat: no-repeat;
}

.AF1{
    background-repeat: no-repeat;
    background-size: 100%;

}
.AF2{
    background-size: 100%;
    background-repeat: no-repeat;
}

.AF3{
    background-size: 100%;
    background-repeat: no-repeat;
}

.AF4{
    background-size: 100%;
    background-repeat: no-repeat;
}

.white-text{
    color: black;
}

.btn {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: rgb(245, 120, 120); 
    color: white;
}