.mainBod{
    /*background-color: #ef9a9a;*/
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/117/431/large_2x/color-abstract-wave-vector-background.jpg");
    }


#b1{
   /* background-color:blue;*/
    

}


.nav-wrapper{
    float: right;
    width: 75%;
    position: fixed;
  
}

.btn {
    background-color: DodgerBlue; 
    border: none; 
    /*padding: 12px 16px; */
    font-size: 16px; 
    cursor: pointer; 
    position: fixed;
    position: relative;
    
}

.nav-wrapper2{
    position: fixed;
}




/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}


#mainContent{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    align-content: center;
}
.resultcard{
    width: 100%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 5px;
}

test2{
    width: 100%;
}

.test {
    width:200px;
    height:200px;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.NM1{
    background-image: url("http://misuzalee.files.wordpress.com/2011/10/goldengate11.jpg");
    background-size: 100%;
}

.Asia1{
    background-image: url("http://static.asiawebdirect.com/m/kl/portals/kuala-lumpur-ws/shared/teasersL/teaser_auto_gen/10-hotels-klcc-cheap/teaserMultiLarge/imageHilight/teaser.jpeg.jpg");
    background-size:100%;

}

.SM1{
    background-image: url("https://i.ytimg.com/vi/WYJSaUGpnG0/maxresdefault.jpg");
    background-size: 100%;
    
    

}

.EUR1{
    background-image: url("https://i.huffpost.com/gen/1878792/thumbs/o-BUDAPEST-900.jpg?1");
    background-size: 100%;

}

.Africa1{
    background-image: url("https://i.ytimg.com/vi/uUboc_WDZhc/maxresdefault.jpg");
    background-size: 100%;

}

.white-text{
    color: black;
}

.btn {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: rgb(245, 120, 120); 
    color: white;
}


